<h2 class="page-header">
	Página de proyectos
	<a href="/project/new"><button type="button" class="btn btn-info pull-right">Crear Proyecto</button></a>
</h2>

<table>
<% var i; for (i=0; i < projects.length; i++){ %>
	<tr>
	  <td><a href="project/<%= projects[i].pro_url %>"> <%= projects[i].pro_nombre %></a></td>
	</tr>
<% } %>
</table>
