<h2 class="page-header">
  Añadir proyecto
</h2>

<!-- Formulario Añadir Proyecto -->
<form data-toggle="validator" role="post" method="post" action="/project/create">
  <div class="form-group has-feedback">
    <label class="sr-only">Nombre Proyecto</label>
    <input required type="text" class="form-control" name="project[pro_nombre]" placeholder="<%= project.pro_nombre%>" />
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
  </div>
  <div class="form-group has-feedback">
    <label class="sr-only">Eslogan</label>
    <input required type="text" class="form-control" name="project[pro_eslogan]" placeholder="<%= project.pro_eslogan%>" />
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
  </div>
  <div class="form-group has-feedback">
    <label class="sr-only">Descripción</label>
    <textarea required class="form-control" name="project[pro_descripcion]" placeholder="<%= project.pro_descripcion%>" /></textarea>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
  </div>
  <div class="form-group">
    <label class="control-label">Tipo de Proyecto:</label>
    <div class="radio-inline"><input required type="radio" name="project[pro_tipo]" value="0" > Tecnológico </div>
    <div class="radio-inline"><input required type="radio" name="project[pro_tipo]" value="1" > Innovación</div>
    <div class="radio-inline"><input required type="radio" name="project[pro_tipo]" value="2" > Artístico</div>
    <div class="radio-inline"><input required type="radio" name="project[pro_tipo]" value="3" > Social</div>
    <div class="radio-inline"><input required type="radio" name="project[pro_tipo]" value="4" > Productivo</div>
  </div>
  <div class="form-group">
    <a href="/project"><button class="btn btn-danger" type="button">Cancelar</button></a>
    <input type="submit" class="btn btn-success" value="Salvar" />
  </div>
</form>
