<h2 class="page-header">
  Añadir proyecto
</h2>

<!-- Formulario Añadir Proyecto -->
<form role="post" method="post" action="/project/create">
  <div class="form-group">
    <label class="sr-only">Nombre Proyecto</label>
    <input type="text" class="form-control" name="project[pro_nombre]" placeholder="<%= project.pro_nombre%>" />
  </div>
  <a href="/project"><button class="btn btn-danger" type="button">Cancelar</button></a>
  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
