<% include partial_promenu %><p>

	<script>
	$('#project_menu a:contains("Problemas")').parent().addClass("active");
	$('#project_menu h8').html('Problemas');
	</script>

<h2 class="page-header">
	Problemas
</h2>

<table class="table table-striped table-condensed">
<% var i; if (problems) { for (i=0; i < problems.length; i++){ %>
		<tr>
			<td> <a href="/project/<%= project.pro_url %>/problems/<%= problems[i].id %>"><%= problems[i].prb_problema %></a></td>
			<td> <%= problems[i].prb_estado %> </td>
		</tr>
<% }} %>
</table>
