
<h2 class="page-header">Labuk<small> Incubamos proyectos</small></h2>

<p>
La red 2.0 ha generado una nueva forma de acceder a la información global y ha transformado la relación entre las personas generando nuevas vías de comunicación. Existen diversos ejemplos de proyectos que con pocos recursos, han conseguido sacar adelante productos de calidad, gracias al boca a boca online y la ayuda de las redes sociales. El problema es que estos ejemplos son pocos en España, debido a que en el ámbito del trabajo pocos han sido los cambios que se han producido a la sombra de esta transformación.
</p>

<!--
<p>
La red 2.0 ha generado una nueva forma de acceder a la información global y ha transformado la relación entre las personas generando nuevas vías de comunicación. Existen diversos ejemplos de proyectos que con pocos recursos, han conseguido sacar adelante productos de calidad, gracias al boca a boca online y la ayuda de las redes sociales. El problema es que estos ejemplos son pocos en España, debido a que en el ámbito del trabajo pocos han sido los cambios que se han producido a la sombra de esta transformación.
</p>
<p>
El proyecto Labuk ofrece una plataforma de soporte e impulso para facilitar que proyectos e ideas novedosas puedan avanzar, basándose en tres principios:
</p>
<ul>
<li>Semillero de empresas: el principal escollo de poner en marcha un proyecto a partir de una buena idea son los costes de iniciar una empresa. Labuk te ofrece una alternativa donde poder beneficiarte de todas las ventajas de ser una empresa (devolución del iva, cobrar facturas, publicidad como marca), sin los inconvenientes que esto conlleva (no realizar ninguna gestión en la administración, no pagar ninguna cuota).</li>
<li>Gestión de proyectos: La plataforma Labuk ofrece un completo gestor de proyectos, orientado a grupos reducidos, que permite distribuir y organizar las tareas de forma sencilla, así como de gestión y autoorganización de grupo. Implementa estrategias Scrum, un modelo de desarrollo ágil, muy utilizado en el ámbito del desarrollo software e ideal para iniciar proyectos.</li>
<li>Interconexión de personas: Una buena idea no garantiza el éxito de un proyecto, sino que necesita de trabajo y esfuerzo para sacarlo adelante. Es difícil que al iniciar un proyecto estén cubiertos todos los aspectos necesarios, y tareas específicas no puedan realizarse por falta de la persona con los conocimientos adecuados. La red Labuk permite conectar personas y favorecer la colaboración para rellenar las carencias de un proyecto. Permite publicar ofertas de colaboración, incorporar nuevas personas al proyecto y generar nuevos proyectos a raíz de estas colaboraciones.</li>
</ul>
<p>
Y que obtiene Labuk de todo esto, pues todos estos servicios son ofrecidos gratis y financiados con la publicidad insertada en la red, por lo que a ti no te pedimos nada. Además, ofrecemos diferentes servicios adicionales, como por ejemplo asesoramiento jurídico y fiscal, soporte de página web o tienda online, marketing, y lo único que te solicitamos a cambio es compartir una pequeña parte de tus beneficios, el 1%, así nosotros ganamos cuando tu ganas, sin que te supongo ningún gasto adicional.
</p>
-->
