
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Header -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <img class="img-responsive" style="max-width: 250px;" src="images/profile.png" alt="">
              <div class="intro-text">
                  <span class="name">Bienvenido a <%= title %></span>
                  <hr class="star-light">
                  <span class="skills">CoWorking - StartUp Growing - Freelancer</span>
              </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <h2>Proyectos</h2>
                <hr class="star-primary">
                <h3 class="text-center"><a href="/project">Ver todos los proyectos</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="/project/labuk" class="portfolio-link" >
                    <div class="caption">
                        <div class="caption-content">
                            <h2><i class="glyphicon glyphicon-zoom-in"></i><h2>
                        </div>
                    </div>
                    <img src="images/logo/project-1.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="/project/servicios" class="portfolio-link" >
                    <div class="caption">
                        <div class="caption-content">
                            <h2><i class="glyphicon glyphicon-zoom-in"></i><h2>
                        </div>
                    </div>
                    <img src="images/logo/project-2.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="/project/proyectox" class="portfolio-link" >
                    <div class="caption">
                        <div class="caption-content">
                            <h2><i class="glyphicon glyphicon-zoom-in"></i><h2>
                        </div>
                    </div>
                    <img src="images/logo/project-3.png" class="img-responsive"alt="">
                </a>
            </div>
        </div>
    </div>
</section>
