
<h2 class="page-header"> Usuarios </h2>

<section id="portfolio">

<% var i; for (i=0; i < users.length; i++){ %>

	<div class="col-sm-4 col-xs-6 col-md-3 portfolio-item">
	  <div class="panel-body">
			<% if (users[i].avatar) { %>
				<img src="/images/avatar/<%= users[i].avatar %>"  width="img-responsive" class="img-thumbnail" />
			<% } else { %>
				<img src="/images/avatar/avatar.jpeg"  width="img-responsive" class="img-thumbnail" />
			<% } %>
	  </div>
	  <div class="panel-footer"><a href="/user/profile/<%= users[i].id %>"><%= users[i].nombre %></a>
			<!--
			<button type="button" class="btn btn-default  btn-xs dropdown-toggle pull-right"
				data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li><a href="#">Acci贸n #1</a></li>
				<li><a href="#">Acci贸n #2</a></li>
				<li><a href="#">Acci贸n #3</a></li>
				<li class="divider"></li>
				<li><a href="#">Acci贸n #4</a></li>
			</ul>
			-->
		</div>
	</div>

<% } %>

<section id="portfolio">
