
<h2 class="page-header"> Usuarios </h2>

<section id="portfolio">

<% var i; for (i=0; i < users.length; i++){ %>

	<div class="col-sm-4 col-xs-6 col-md-3 portfolio-item">
		<div class="panel <% if (users[i].online) { %> panel-success <% } else { %> panel-default <% } %> ">
			<div class="panel-body">
				<% if (users[i].avatar) { %>
					<img src="/images/avatar/<%= users[i].avatar %>" class="img-responsive" />
				<% } else { %>
					<img src="/images/avatar/avatar.jpg" class="img-responsive" />
				<% } %>
			</div>
			<div class="panel-heading"><a href="/user/profile/<%= users[i].id %>"><%= users[i].nombre %></a>
			</div>
		</div>
	</div>

<% } %>

<section id="portfolio">
