<link rel="stylesheet" href="/stylesheets/jquery.Jcrop.css" type="text/css" />

<h2 class="page-header">
  Mi perfil
  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal">Cambiar Foto</button>
</h2>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <% if (user.avatar) { %>
      <img src="/images/avatar/<%= user.avatar %>"  width="100%" class="img-thumbnail" />
    <% } else { %>
      <img src="/images/avatar/avatar.jpg"  width="100%" class="img-thumbnail" />
    <% } %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-9">
    <dl>
      <dd><h3><%= user.nombre %><h3></dd>
      <dd>Mail</dd>
      <dd>Cosas varias</dd>
    </dl>
  </div>
</div>

<!-- Formulario Avatar -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Foto de Perfil</h4>
			</div>
			<div class="modal-body">
				<form role="form" enctype="multipart/form-data" method="post" action="/user/avatar">
          <input type="hidden" id="x" name="x" value="">
          <input type="hidden" id="y" name="y" value="">
          <input type="hidden" id="w" name="w" value="">
          <input type="hidden" id="h" name="h" value="">
          <input type="hidden" id="t" name="t" value="">
          <div class="form-group">
            <span class="btn btn-default btn-file pull-right">
              + <input type="file" name="avatar" accept="image/*" onchange="loadFile(event)">
            </span>
            <button type="submit" id="btn_avatar" class="btn btn-success" disabled="disabled">Guardar cambios</button>
          </div>
				</form>
        <% if (user.avatar) { %>
          <img id="avatar" src="/images/avatar/<%= user.avatar %>" width="100%" height="auto"/>
        <% } else { %>
          <img id="avatar" width="100%" />
        <% } %>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery.Jcrop.min.js"></script>
<script language="Javascript">

    var api;

    // Utilizar JCrop de js para cortar la foto y Multer de nodejs para subir el archivo.
    var loadFile = function(event) {
      if(api) api.destroy();
      $('#avatar').removeAttr('style');
      var output = document.getElementById('avatar');
      output.src = URL.createObjectURL(event.target.files[0]);
      initJcrop();
      $('#btn_avatar').prop("disabled", false);
      //$('.jcrop-holder img').attr("src", output.src);

    };

    function initJcrop() {

        $('#avatar').Jcrop({
           onChange:   showCoords,
           onSelect:   showCoords,
           setSelect:   [ 0, 0, 600, 600 ],
           aspectRatio: 1/1
         }, function(){
           api = this;
         });

    };

    function showCoords(c)
    {
      $('#x').val(c.x);
      $('#y').val(c.y);
      $('#w').val(c.w);
      $('#h').val(c.h);
      $('#t').val($('#avatar').width());
    };

</script>
