<h2>Nuevo usuario</h2>

<form method="post" action="/user/create">

	<div class="field">
	  <label for="login">Nombre:</label><br/>
	  <input type="text" id="nombre" name="nombre" size="30" />
	</div>

	<div class="field">
	  <label for="password">Password:</label><br/>
	  <input type="password" id="password" name="password" size="30" />
	</div>

	<div class="actions">
	  <input type="submit" name="commit" value="Login" />
	</div>

</form>
