/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

pre {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: inherit;
  border: none;
  background: none;
  white-space: pre-line;
  margin: 0;
  padding-bottom: 0px;
}

.alert pre{
  color: #8a6d3b;
}

/*
 *  Column centered
 */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*
 * Global add-ons
 */

 textarea{
   max-width: 100%;
 }

.pull-right {
   margin-left: 10px;
 }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  background-color: #07123A;
}

.navbar-header {
  float: left !important;
}

.navbar-nav>li {
    float: left !important;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
}

.navbar-brand{
  line-height: 26px;
}

.dropdown-menu-title{
  text-align: center;
  background-color: #aaa;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
  background-color: #333;
  border-right: 1px solid #eee;
}

.sidebar a{
  color: #aaa;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */
.main {
  padding: 20px;
}

.page-header {
  margin-top: 10px;
}


/*
 * Chat content
 */
#listMessages:first-letter { text-transform: uppercase;}
#listMessages li:nth-child(odd) { background: #eee; }

.chat{
  position: absolute;
  top: -270px;
  z-index: 9999;
}

.footer .btn-group{
  position: relative;
  top: -40px;
}

.chat .panel-body{
  padding: 5px 10px;
  height: 150px;
  overflow-y: auto;
  color: #555;
}

.footer{
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 0px;
  padding: 0px 5px;
  overflow: visible;
}

.footer .row{
  /*z-index: 0;*/
}

/*
 * Carousel content
 */

 .carousel-control.left{
   background-image:none;
   left: -5%;
   width: 40px;
 }

 .carousel-control.right {
   background-image:none;
   right: -5%;
   width: 40px;
 }

 /*
 @media (max-width: 768px) {
   .carousel-inner > .item.next,
   .carousel-inner > .item.active.right {
     -webkit-transform: translate3d(100%, 0, 0);
             transform: translate3d(100%, 0, 0);
   }

   .carousel-inner > .item.prev,
   .carousel-inner > .item.active.left {
     -webkit-transform: translate3d(-100%, 0, 0);
             transform: translate3d(-100%, 0, 0);
   }
}
*/

/* Media */
@media (min-width: 768px) {

  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

  .sidebar {
    display: block;
    height: auto;
  }

}

@media (min-width: 992px) {

  .nav-sidebar > li > a {
    padding-left: 20px;
  }

  .nav {
    font-size: x-large;
  }

 }

@media (max-width: 992px) {

  .nav {
    font-size: xx-large;
    text-align: center;
  }

 }

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
  }

}
