
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <h2>Servicios</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-sm-3 col-centered portfolio-item">
                <a href="/project/blog-labuk" class="portfolio-link" >
                    <div class="caption">
                        <div class="caption-content">
                            <h2><i class="glyphicon glyphicon-zoom-in"></i><h2>
                        </div>
                    </div>
                    <img src="images/logo/project-2.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-centered portfolio-item">
                <a href="/project/diseño-web-labuk" class="portfolio-link" >
                    <div class="caption">
                        <div class="caption-content">
                            <h2><i class="glyphicon glyphicon-zoom-in"></i><h2>
                        </div>
                    </div>
                    <img src="images/logo/project-4.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
